<ul class="media-list">
  <% items.each do |item| %>
    <li class="media">
      <div class="body">
        <div>
          <%= link_to item.user.name, user_path(item.user) %> <span class="text-muted">posted at <%= item.created_at %></span>
        </div>
        <div>
          <p><%= item.cargo_title %></p>
        </div>
        <div>
          <% if current_user == item.user %>
            <%= link_to "Delete", item, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate items %>
</ul>